/*DOCUMENT SETTINGS*/
* {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    font-size: 16px; /*setting font size default as 16px for rem-sizing*/
}

/*BODY AND GENERAL SETTINGS*/
body {
    height: 100vh;
    background-color: darkseagreen;
    color: black;
    /*flex structure: align header, main & footer in column*/
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.25rem;
}

/*Index knapp*/
button {
    margin: 2em;
    padding: 0.5em;
    background-color: darkseagreen;
}

button:hover {
    background-color: rgb(162, 190, 162);
}

.jammed {
    display: none;
    text-align: center;
}

.jammed img {
    width: 100%;
}

/*HEADER*/
header {
    padding: 2vh;
    /*flex structure: h1 & nav aligned in row*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    /*flex structure: align nav items in column & to right*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav li {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

nav a {
    font-size: 1.25rem;
}

/*MAIN*/
main {
    flex: 1; /*use up leftover space*/
    /*flex structure: align main section to center*/
    display: flex;
    justify-content: center;
}

section {
    min-width: 75%;
    max-width: 75%;
    margin: 5vw;
    padding: 5vw;
    background-color: white;
    box-shadow: 0 0 10px rgb(124, 124, 124); 
    /*flex structure: align main content*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*FOOTER*/
footer {
    padding: 2vh;
    background-color: seagreen;
    /*flex structure: items aligned in column & in center*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    font-size: 1rem;
    color: rgb(172, 208, 172);
}

/*PHOTO PAGE*/
.pictures img {
    width: 100%;
    height: 100%;
}
/*grid setup*/
.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-item1 {
    grid-row: 1;
    grid-column: 1/-1;
    object-fit: cover;
}

.grid-item2 {
    grid-row: 2;
}

.grid-item3 {
    grid-row: 2;
}

.grid-item4 {
    grid-row: 3;
}

.grid-item5 {
    grid-row: 3;
}

/*PROCESS PAGE*/
.grid-container {
    width: 100%;
    padding-top: 5vh;
    align-items: center;
    justify-items: center;
    /*grid structure*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5vh;
}

.title-item1 {
    grid-column: 1;
    grid-row: 1;
}

.title-item2 {
    grid-column: 2;
    grid-row: 2;
}

.title-item3 {
    grid-column: 1;
    grid-row: 3;
}

.ul-item1 {
    grid-column: 2;
    grid-row: 1;
}

.ul-item2 {
    grid-column: 1;
    grid-row: 2;
}

.ul-item {
    grid-column: 1;
    grid-row: 3;
}

/*-----MEDIA QUERIES-----*/
/*TABLET PORTRAIT*/
@media (min-width: 480px){
    footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

/*TABLET LANDSCAPE + DESKTOP*/
@media (min-width: 768px){
    html {
        font-size: 20px;
    }

    main {
        align-items: center;
        padding: 5%;
    }

    button {
        font-size: 1rem;
    }
}