* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkseagreen;
    color: black;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    padding: 5vh;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    padding: 5%;
}

main {
    background-color: white;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 5vh;
}

footer {
    display: flex;
    justify-content: center;
}