* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkseagreen;
    color: black;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    padding: 5vh;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav li {
    padding: 5%;
}

main {
    background-color: white;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 5vh;
    padding: 5vh;
}

.pictures img {
    width: 100%;
    height: 100%;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-item1 {
    grid-row: 1;
    grid-column: 1/-1;
    object-fit: cover;
}

.grid-item2 {
    grid-row: 2;
}

.grid-item3 {
    grid-row: 2;
}

.grid-item4 {
    grid-row: 3;
}

.grid-item5 {
    grid-row: 3;
}

footer {
    display: flex;
    justify-content: center;
}


/*MOBILE PORTRAIT*/
@media (max-width: 480px){

}

/*MOBILE LANDSCAPE + TABLET PORTRAIT*/
@media (min-width: 480px) and (max-width: 768px){

}

/*TABLET LANDSCAPE + LAPTOP*/
@media (min-width: 768px) and (max-width: 1440px){

}

/*DESKTOP*/
@media (min-width: 1440px){

}